.container {
  position: relative;
  width: 45em;
  height: 22rem;
  text-align: center;
}

.map {
  width: 100% !important;
  height: 100% !important;
}

.find_location {
  position: absolute;
  margin: auto;
  width: 12rem;
  min-height: 2.5rem;
  font-size: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  cursor: pointer;
  border-radius: 0 0 1rem 1rem;
  border: none;
  border-top: 1px solid lightgrey;
}

.find_location:hover {
  background-color: whitesmoke;
}

.modal {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
}
